body{
    margin: 0;
    background-color: #ADD8E6;
}
div{
    text-align: center;
    margin-left: 1000;
    background-color: #00bcd4;
    font-family: 'Poppins', sans-serif;
}

h1{
    margin-top: 0;
}